SECRET_KEY=coloque-uma-chave-secreta-aqui
DEBUG=0
ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

POSTGRES_DB=django_db
POSTGRES_USER=django
POSTGRES_PASSWORD=sua-senha-aqui
POSTGRES_HOST=db
POSTGRES_PORT=5432
